RewriteEngine On
RewriteBase /

# force https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Options -Indexes

AuthType Basic
AuthName "Zone protégée"
AuthUserFile /home/cariboa/.htpasswd
Require valid-user

# redirect
RewriteRule ^missions/?$ missions.php [L]
RewriteRule ^programme/?$ programme.php [L]
RewriteRule ^unites/?$ unites.php [L]
RewriteRule ^maxijeu/?$ jeu.php [L]
RewriteRule ^defi-partenariat/?$ defi-partenariat.html [L]
RewriteRule ^$ index.php [L]