RewriteCond %{ENV:HTTPS} !on
Options -Indexes

AuthType Basic
AuthName "Zone protégée"
AuthUserFile /home/cariboa/.htpasswd
Require valid-user

RewriteEngine On
RewriteBase /

# redirect
RewriteRule ^missions/?$ missions.php [L]
RewriteRule ^programme/?$ programme.php [L]
RewriteRule ^unites/?$ unites.php [L]
RewriteRule ^jeu/?$ jeu.php [L]
RewriteRule ^$ index.php [L]